image: docker.io/atlassian/default-image:5

options:
  runtime:
    cloud:
      version: "3"

definitions:
  services:
    docker:
      type: docker
      memory: 1024

  steps:
    - step: &test
        name: Run tests
        image: docker.io/library/eclipse-temurin:21-jdk
        clone:
          enabled: true
        caches:
          - maven
        services:
          - docker
        script:
          - export TESTCONTAINERS_RYUK_DISABLED=true
          - export TESTCONTAINERS_RYUK_CONTAINER_PRIVILEGED=false
          - |
            if [ -n "${BITBUCKET_TAG}" ]; then
              export REVISION="${BITBUCKET_TAG#v}";
            else
              export REVISION="${BITBUCKET_COMMIT::7}";
            fi
          - ./mvnw --batch-mode test -Drevision=${REVISION}
        artifacts:
          upload:
            - name: test-reports
              type: scoped
              paths:
                - target/surefire-reports/**
              capture-on: always

    - step: &build-jar
        name: Build JAR
        image: docker.io/library/eclipse-temurin:21-jdk
        clone:
          enabled: true
        caches:
          - maven
        script:
          - |
            if [ -n "${BITBUCKET_TAG}" ]; then
              export REVISION="${BITBUCKET_TAG#v}";
            else
              export REVISION="${BITBUCKET_COMMIT::7}";
            fi
          - ./mvnw --batch-mode verify -Drevision=${REVISION} -DskipTests -DskipITs
        artifacts:
          upload:
            - name: runner-jar
              type: shared
              paths:
                - target/quarkus-template-*-runner.jar
              capture-on: success

    - step: &release
        name: Create release
        image: docker.io/library/eclipse-temurin:21-jdk
        clone:
          enabled: false
        artifacts:
          download:
            - runner-jar
        script:
          - export REVISION="${BITBUCKET_TAG#v}"
          - ORIGINAL_JAR=$(ls target/quarkus-template-*-runner.jar | head -n 1)
          - |
            if [ -z "${ORIGINAL_JAR}" ]; then
              echo "No JAR found";
              exit 1;
            fi
          - RELEASE_JAR="quarkus-template-${REVISION}.jar"
          - echo "Renaming ${ORIGINAL_JAR} -> target/${RELEASE_JAR}"
          - mv "${ORIGINAL_JAR}" "target/${RELEASE_JAR}"
          - pipe: atlassian/bitbucket-upload-file:0.7.5
            variables:
              BITBUCKET_ACCESS_TOKEN: "${BITPIPE}"
              FILENAME: "target/${RELEASE_JAR}"

pipelines:
  branches:
    "**":
      - step: *test
      - step: *build-jar

  pull-requests:
    "main":
      - step: *test
      - step: *build-jar

  tags:
    "v*.*.*":
      - step: *test
      - step: *build-jar
      - step: *release
